<!--<footer class="footer" th:fragment="copy">
    <div class="container">
        <a href="https://www.hawaii.edu">
            <span class="uh-branding-one">University</span>
            <span class="uh-branding-two">of&nbsp;</span>
            <span class="uh-branding-one">Hawai&#8216;i</span>
        </a>
        <hr/>
    </div>
</footer>-->

<!--<footer class="footer black-bg pt-5 pb-5" th:fragment="copy">-->
    <footer class="footer" th:fragment="copy">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5 text-center ">
                <img class="img-fluid mb-4" src="images/new/uh-logo-system.png" srcset="images/new/uh-logo-system.png 1x, images/new/uh-logo-system-2x.png 2x"  alt="UH System logo">
            </div>
            <!--<img class="img-fluid mb-4" th:src="@{/images/new/uh-logo-system.png}" alt="UH Groupings"/>-->
            <div class="col-md-8 col-sm-7">
                <p>The University of Hawai&#699;i is an <a href="https://www.hawaii.edu/offices/eeo/policies/?policy=antidisc">equal opportunity/affirmative action institution</a>.</p>
                <p>Use of this site implies consent with our <a href="https://www.hawaii.edu/policy/docs/temp/ep2.210.pdf" title="UH Usage Policy">Usage Policy</a>.</p>
            </div>
        </div>
    </div>
</footer>
