<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:replace="header :: copy(headingTitle='UH Groupings Home')"></head>
<body ng-app="UHGroupingsApp">
<nav th:replace="menubar :: copy"></nav>
<div class="container">
<div class="seafoam-bg pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-2 mb-3 mb-sm-0">
                <div class="user-icon text-center rounded-circle bg-light p-3 mx-auto ml-md-0 mr-md-0">
                    <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                    <i class="user-role rounded-circle blue-bg text-light fa fa-key fa-sm p-2" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-sm-9 col-md-10">
                <h1 class="h3 text-center text-md-left">Welcome, <span
                        sec:authentication="principal.name" id="username"></span>!</h1>
                <p class="lead text-center text-md-left"> <em class="role">Administrator</em></p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 mb-5 mb-md-0">
            <div class="dashboard-item-icon text-primary mb-3">
                <i class="fa fa-key fa-3x mr-4" aria-hidden="true"></i>
                <!--<div><span class="h1">11 ({{groupingExclude.length}}) </span></div>-->
            </div>
            <div class="dashboard-item-content">
                <h2 class="h4">Administration</h2>
                <p>Manage the list of Administrators for this service. Search for and manage any grouping on behalf of the owner.</p>
                <a class="btn dark-teal-bg" href="/uhgroupings/admin">Admin</a>
            </div>
        </div>
        <!--<div class="col-md-4 mb-5 mb-md-0">
            <div class="dashboard-item-icon text-primary mb-3">
                <i class="fa fa-wrench fa-3x mr-3" aria-hidden="true"></i>
                <span class="h1">4</span>
            </div>
            <div class="dashboard-item-content">
                <h2 class="h4">Groupings</h2>
                <p>View and manage my memberships. Search for new groupings to join as a member.</p>-->
        <div class="col-md-4" ng-controller="MembershipJsController" data-ng-init="init()">
            <div class="dashboard-item-icon text-primary mb-3">
                <i class="fa fa-id-card fa-3x mr-4" aria-hidden="true"></i>
                <span class="h1">{{membershipsList.length}}</span>
            </div>
            <div class="dashboard-item-content">
                <h2 class="h4">Memberships</h2>
                <p>View and manage my memberships. Search for new groupings to join as a member.</p>
                <a class="btn dark-teal-bg" href="/uhgroupings/memberships">Memberships</a>
            </div>
        </div>
<!--        <div class="col-md-4">
            <div class="dashboard-item-icon text-primary mb-3">
                <i class="fa fa-id-card fa-3x mr-4" aria-hidden="true"></i>
                <span class="h1">21</span>
            </div>
            <div class="dashboard-item-content">
                <h2 class="h4">Members</h2>
                <p>View and manage groupings I own. Manage members, configure grouping options and sync destinations.</p>-->
        <div class="col-md-4 mb-5 mb-md-0" ng-controller="OwnerJsController" data-ng-init="init()">
            <div class="dashboard-item-icon text-primary mb-3">
                <i class="fa fa-wrench fa-3x mr-3" aria-hidden="true"></i>
                <span class="h1">{{groupingsList.length}}</span>
            </div>
            <div class="dashboard-item-content">
                <h2 class="h4">Groupings</h2>
                <p>View and manage groupings I own. Manage members, configure grouping options and sync destinations.</p>
                <a class="btn dark-teal-bg" href="/uhgroupings/groupings">Groupings</a>
            </div>
        </div>
    </div>
</div>
<!--end paste content-->
<!--<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 d-sm-inline-flex d-none justify-content-end align-middle">
                <img class="img-fluid" id="uh-groupings-icon" th:src="@{/images/grouper-users-icon-02.png}"
                     src="images/grouper-users-icon-02.png" alt="UH Groupings"/>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <h1 class="dropshadow">UH Groupings</h1>
                <p class="lead" th:utext="#{screen.message.home.page.leadDescription}"></p>
            </div>
        </div>
        <div class="row ml-auto">
            <div class="offset-lg-2 offset-md-3 offset-sm-4">
                <div sec:authorize="!isAuthenticated()">
                    <a class="btn btn-lg btn-light" th:href="@{/login}" role="button">Login Here</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <form action="/logout" th:action="@{/logout}" method="post">
                        <button class="btn btn-lg btn-light" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row pl-4 pr-4">
        <span class="h5">What is a UH Grouping?</span>
        <div id="grouping-description">
            <p th:utext="#{screen.message.home.page.groupingDefinition}"></p>
            <p th:utext="#{screen.message.home.page.groupingFeatures}"></p>
        </div>
        <div th:utext="#{screen.message.home.page.moreInformation}"></div>
    </div>

    <div class="row" id="home-dashboard">
        <div class="card bg-dashboard border-light p-0" sec:authorize="hasAnyRole('ROLE_UH', 'ROLE_ADMIN', 'ROLE_OWNER')">
            <div class="card-body">
                <div class="row" sec:authorize="isAuthenticated()">
                    <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
                        <p class="h5">Administration</p>
                        <p th:utext="#{screen.message.home.page.adminInfo}"></p>
                        <p><a class="btn btn-primary btn-sm" th:href="@{/admin}" role="button">Admin</a></p>
                    </div>
                    <div class="col-md-4" sec:authorize="hasRole('ROLE_UH')">
                        <p class="h5">Memberships</p>
                        <p th:utext="#{screen.message.home.page.membershipInfo}"></p>
                        <div class="spacer d-xl-block d-lg-none d-md-block d-none"></div>
                        <p><a class="btn btn-primary btn-sm" th:href="@{/memberships}" role="button">Memberships</a></p>
                    </div>
                    <div class="col-md-4" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OWNER')">
                        <p class="h5">Groupings</p>
                        <p th:utext="#{screen.message.home.page.mygroupingsInfo}"></p>
                        <p><a class="btn btn-primary btn-sm" th:href="@{/groupings}" role="button">Groupings</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>-->
</div>
<!-- / Content container. -->

<div th:replace="footer :: copy"></div>


</body>
</html>
